@page "/generators/add"
@using Grpc.Core
@using Hamstix.Haby.Client.Components
@using Hamstix.Haby.Client.Components.Toast
@using Hamstix.Haby.Client.Models
@using System.Text.Json.Nodes
@using Hamstix.Haby.Shared.Grpc.Generators
@inject Haby.Shared.Grpc.Generators.GeneratorsService.GeneratorsServiceClient GeneratorsService
@inject NavigationManager NavigationManager
@inject ToastService ToastService

<PageTitle>Add new Generator</PageTitle>

<BreadCrumbsComponent BreadCrumbs="_breadCrumbs"></BreadCrumbsComponent>

<h1>Add new Generator</h1>


<EditForm Model="@_postModel" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText class="form-control" id="name" @bind-Value="_postModel.Name" />
    </div>
    <div class="mb-3">
        <label for="template" class="form-label">Json Template</label>
        <InputText class="form-control" id="template" @bind-Value="_postModel.Template" />
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <InputTextArea class="form-control" id="description" @bind-Value="_postModel.Description" cols=60 rows=5 />
    </div>

    <button class="btn btn-primary" type="submit">Create</button>
</EditForm>

<AlertComponent @ref="_alertComponent"></AlertComponent>

@code {
    CreateRequest _postModel = new();

    List<BreadCrumbItem> _breadCrumbs = new()
        {
            new BreadCrumbItem("Generators", false, "/generators"),
            new BreadCrumbItem("Create new generator", true),
        };

    AlertComponent _alertComponent;

    async Task HandleValidSubmit()
    {
        try
        {
            var result = await GeneratorsService.CreateAsync(_postModel);
            _alertComponent.ResetStatus();

            if (result is not null)
                NavigationManager.NavigateTo($"generators/{result.Id}");
        }
        catch (RpcException e)
        {
            _alertComponent.SetError(e.Status.Detail);
        }
    }
}
