@using Hamstix.Haby.Client.Services
@attribute [Authorize]
@inject IAuthenticationService Auth
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hamstix.Haby</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="services">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Services
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="generators">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Generators
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="configuration-units">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> CUs
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="organization-units/catalog">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> OUs
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="configurations">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Configurations
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="application">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Application
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <div class="nav-link" @onclick="Logout">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Logout
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Log in
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    async Task Logout()
    {
        await Auth.Logout();
        Navigation.NavigateTo($"/login");
    }
}
